---
layout: archive
title: "Education"
permalink: /Education/
author_profile: true
---

<ul>
  <li>
    <strong>University of Tehran</strong><br>
    Tehran, Iran<br>
    <em>Bachelor of Computer Science</em><br>
    GPA: 3.5/4 (16.5/20)<br>
    <em>Sep 2021 - Present</em>
  </li>
  <li>
    <strong>Mirza Koochak Khan High School</strong><br>
    Rasht, Iran<br>
    <em>Diploma of Mathematics and Physics</em><br>
    GPA: 4/4 (18/20)<br>
    <em>Sep 2018 - June 2021</em>
  </li>
</ul>

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

