---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Assistant Experience</title>
</head>
<body>
    <h2>Teaching Assistant Experience</h2>
    <p><em>Department of Mathematics, Statistics, and Computer Science, University of Tehran</em></p>
  
    <h3>Teaching Assistant:</h3>

    <ul>
        <li>
            <strong>Fundamentals of Computer Science and Programming</strong><br>
            <em>Prof. Ziaei-tabar</em><br>
            <em>Sep 2022 - Jan 2022</em><br>
            <em>Responsibilities: Assisted students with course-related queries and contributed to the teaching team's efforts.</em>
        </li>
        <li>
            <strong>Basic Programming</strong><br>
            <em>Prof. Jabari</em><br>
            <em>Sep 2022 - Jan 2022</em><br>
            <em>Responsibilities: Reviewed and provided feedback on assignments, offered assistance to students.</em>
        </li>
    </ul>

    <p>In my role as both Chief Teaching Assistant and Teaching Assistant, I actively contributed to the learning process, collaborated with professors, and assisted fellow teaching assistants. These experiences enriched my teaching and mentoring skills while fostering a deeper understanding of computer science concepts.</p>
</body>
</html>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
