---
layout: archive
title: "Teaching Assistant Experiences"
permalink: /teaching/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Assistant Experience</title>
</head>
    
<body>

    <p><em>Department of Mathematics, Statistics, and Computer Science, University of Tehran</em></p>
    <h3>Chief Teaching Assistant (Head TA):</h3>

    <ul>
        <li>
            <strong>Probability 1</strong><br>
            <em>Prof. Gavanji</em><br>
            <em>Sep 2023 - Feb 2024</em><br>
            <em>Description: Led the teaching team, designed assignments, assessed students' work.</em>
        </li>
    </ul>
    
  
    <h3>Teaching Assistant:</h3>

    <ul>
        <li>
            <strong>Fundamentals of Computer Science and Programming</strong><br>
            <em>Prof. Ziaei-tabar</em><br>
            <em>Sep 2022 - Jan 2022</em><br>
            <em>Description: Held recitation classes focused on resolving issues and bug fixing to help students with their exercises.</em>
        </li>
        <li>
            <strong>Basic Programming</strong><br>
            <em>Prof. Jabari</em><br>
            <em>Sep 2022 - Jan 2022</em><br>
            <em>Description: Designed series of problems for the students, taught many algorithms and problem solving methods</em>
        </li>
    </ul>

    <p>As a Teaching Assistant in computer science, I assist in delivering course material, provide hands-on support in lab sessions, and guide students through complex concepts. I teach various algorithms, help clarify key ideas, and mentor students through practical coding exercises. My responsibilities include grading assignments, offering feedback, and facilitating group discussions, all while ensuring students gain a strong understanding of algorithmic thinking and problem-solving techniques.</p>
</body>
</html>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
